In [1]:
import pandas as pd 

df_leads = pd.read_excel("D:/whaw/case-study-real-estate/data/Case_Study_Data___Data_Engineering__1_.xlsx", sheet_name="DE LEADS")
print(f"df_leads.shape {df_leads.shape}")
df_leads.head()

df_leads.shape (55924, 25)

,id,date_of_last_request,buyer,seller,best_time_to_call,budget,created_at,updated_at,user_id,location,...,compound_id,developer_id,meeting_flag,do_not_call,lead_type_id,customer_id,method_of_contact,lead_source,campaign,lead_type
0,9815,2018-09-07 00:00:00,True,False,"All day , any day",NaN,2018-09-07 15:58:00,2024-01-24 15:07:00,2942.0,Coast 82,...,170.0,NaN,NaN,False,1,22785,form adwords,google,google_cpc,Primary
1,90225,2022-05-04 19:59:00,True,False,NaN,NaN,2022-05-04 19:59:00,2024-01-10 13:10:00,1494.0,The Waterway North Coast,...,NaN,NaN,NaN,False,1,172065,generic form,google,dev_-_equity,Primary
2,198759,2023-03-22 05:23:00,True,False,NaN,NaN,2023-03-22 05:23:00,2024-02-07 15:45:00,4043.0,Silversands,...,NaN,NaN,NaN,False,1,192904,whatsapp,google website,NaN,Primary
3,164130,2022-12-14 00:59:00,True,False,NaN,NaN,2022-12-14 00:51:00,2024-01-15 14:38:00,3805.0,Fouka Bay,...,NaN,NaN,NaN,False,1,112217,facebook,facebook,(none),Primary
4,395907,2024-01-20 17:57:00,True,False,NaN,NaN,2024-01-20 17:57:00,2024-01-22 14:58:00,4003.0,Golden Eagle,...,NaN,NaN,NaN,False,1,383990,facebook,facebook,madinet nasr for housing and development - lea...,Primary

In [4]:
df_leads["location"].unique()

array(['Coast 82', ' The Waterway North Coast', 'Silversands ', ...,
       'zoya - sahel', 'pyramid hills', ' The Waterway North Coast '],
      shape=(3085,), dtype=object)

In [13]:
df_leads["best_time_to_call"].dropna().tail(20)

55286                                                 8pm
55315                                        8 am to 4 pm
55332                                             Any time
55348                                  10-01-2024, 8:17 PM
55353                                             any time
55358                                             Anytime
55375                                             Any time
55405                                  01-02-2024, 7:19 AM
55443                                             Day time
55461                                           After 8 pm
55516                               After 6 pm Dubai time
55519                                             12:30:00
55574                                              10:30AM
55582    10/25/2018 @ 5pm Egypt time will be 11 am USA ...
55593                                                  6pm
55653                                             10:00:00
55657                                        After 7:30 pm
55679                                                    3
55726                                           Afternoon
55743                                             Whatsapp
Name: best_time_to_call, dtype: object

In [7]:
df_leads[df_leads["id"].duplicated(keep=False)].sort_values(by="id", ascending=True).reset_index(drop=True)

,id,date_of_last_request,buyer,seller,best_time_to_call,budget,created_at,updated_at,user_id,location,...,compound_id,developer_id,meeting_flag,do_not_call,lead_type_id,customer_id,method_of_contact,lead_source,campaign,lead_type
0,10809,2023-02-23 14:26:00,True,False,NaN,NaN,2018-10-26 21:53:00,2023-12-10 14:22:00,66.0,Solana,...,NaN,NaN,NaN,False,1,25487,personal,personal,NaN,Primary
1,10809,2023-02-23 14:26:00,True,False,NaN,NaN,2018-10-26 21:53:00,2023-12-10 14:22:00,66.0,Solana,...,NaN,NaN,NaN,False,1,25487,personal,personal,NaN,Primary
2,14874,2019-05-11 00:00:00,True,False,NaN,NaN,2019-05-11 21:46:00,2021-08-22 10:40:00,2.0,Zed,...,274.0,NaN,NaN,False,1,22575,phone,phone,NaN,Primary
3,14874,2019-05-11 00:00:00,True,False,NaN,NaN,2019-05-11 21:46:00,2021-08-22 10:40:00,2.0,Zed,...,274.0,NaN,NaN,False,1,22575,phone,phone,NaN,Primary
4,14902,2022-01-28 12:16:00,True,False,Any day around 1:00 uk time,NaN,2019-05-13 22:51:00,2023-05-25 13:58:00,235.0,Badya-Palm Hills,...,269.0,NaN,NaN,False,1,50163,whatsapp,website,NaN,Primary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,361917,2023-12-03 20:22:00,True,False,NaN,NaN,2023-12-03 20:23:00,2023-12-07 21:17:00,3908.0,NaN,...,NaN,NaN,NaN,False,1,351914,personal,personal,NaN,Primary
139,371499,2023-12-16 11:11:00,True,False,NaN,NaN,2023-12-16 11:11:00,2023-12-27 13:00:00,1327.0,Al Maqsad Park,...,NaN,NaN,NaN,False,1,361059,whatsapp,website,NaN,Primary
140,371499,2023-12-16 11:11:00,True,False,NaN,NaN,2023-12-16 11:11:00,2023-12-27 13:00:00,1327.0,Al Maqsad Park,...,NaN,NaN,NaN,False,1,361059,whatsapp,website,NaN,Primary
141,398324,2024-01-23 14:41:00,True,False,NaN,NaN,2024-01-23 14:41:00,2024-02-07 10:21:00,671.0,New Cairo,...,NaN,NaN,NaN,False,4,386227,ambassador app,ambassador app,ambassador app,Nawy Now
142,398324,2024-01-23 14:41:00,True,False,NaN,NaN,2024-01-23 14:41:00,2024-02-07 10:21:00,671.0,New Cairo,...,NaN,NaN,NaN,False,4,386227,ambassador app,ambassador app,ambassador app,Nawy Now

In [3]:
df_leads[df_leads.duplicated(keep=False)].sort_values(by="id", ascending=True).reset_index(drop=True)

,id,date_of_last_request,buyer,seller,best_time_to_call,budget,created_at,updated_at,user_id,location,...,compound_id,developer_id,meeting_flag,do_not_call,lead_type_id,customer_id,method_of_contact,lead_source,campaign,lead_type
0,10809,2023-02-23 14:26:00,True,False,NaN,NaN,2018-10-26 21:53:00,2023-12-10 14:22:00,66.0,Solana,...,NaN,NaN,NaN,False,1,25487,personal,personal,NaN,Primary
1,10809,2023-02-23 14:26:00,True,False,NaN,NaN,2018-10-26 21:53:00,2023-12-10 14:22:00,66.0,Solana,...,NaN,NaN,NaN,False,1,25487,personal,personal,NaN,Primary
2,14874,2019-05-11 00:00:00,True,False,NaN,NaN,2019-05-11 21:46:00,2021-08-22 10:40:00,2.0,Zed,...,274.0,NaN,NaN,False,1,22575,phone,phone,NaN,Primary
3,14874,2019-05-11 00:00:00,True,False,NaN,NaN,2019-05-11 21:46:00,2021-08-22 10:40:00,2.0,Zed,...,274.0,NaN,NaN,False,1,22575,phone,phone,NaN,Primary
4,14902,2022-01-28 12:16:00,True,False,Any day around 1:00 uk time,NaN,2019-05-13 22:51:00,2023-05-25 13:58:00,235.0,Badya-Palm Hills,...,269.0,NaN,NaN,False,1,50163,whatsapp,website,NaN,Primary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,361917,2023-12-03 20:22:00,True,False,NaN,NaN,2023-12-03 20:23:00,2023-12-07 21:17:00,3908.0,NaN,...,NaN,NaN,NaN,False,1,351914,personal,personal,NaN,Primary
139,371499,2023-12-16 11:11:00,True,False,NaN,NaN,2023-12-16 11:11:00,2023-12-27 13:00:00,1327.0,Al Maqsad Park,...,NaN,NaN,NaN,False,1,361059,whatsapp,website,NaN,Primary
140,371499,2023-12-16 11:11:00,True,False,NaN,NaN,2023-12-16 11:11:00,2023-12-27 13:00:00,1327.0,Al Maqsad Park,...,NaN,NaN,NaN,False,1,361059,whatsapp,website,NaN,Primary
141,398324,2024-01-23 14:41:00,True,False,NaN,NaN,2024-01-23 14:41:00,2024-02-07 10:21:00,671.0,New Cairo,...,NaN,NaN,NaN,False,4,386227,ambassador app,ambassador app,ambassador app,Nawy Now
142,398324,2024-01-23 14:41:00,True,False,NaN,NaN,2024-01-23 14:41:00,2024-02-07 10:21:00,671.0,New Cairo,...,NaN,NaN,NaN,False,4,386227,ambassador app,ambassador app,ambassador app,Nawy Now

In [33]:
import pandas as pd 
import numpy as np 

df_src = pd.read_parquet("D:/whaw/case-study-real-estate/db/transformed-data_source_SALES.parquet")
df_dst = pd.read_parquet("D:/whaw/case-study-real-estate/db/extract-dwh_SALES.parquet")

print(f"df_src.shape {df_src.shape}")
print(f"df_dst.shape {df_dst.shape}")

df_src.shape (1567, 15)
df_dst.shape (0, 20)

In [21]:
df_src.head()

,id,lead_id,unit_value,unit_location,expected_value,actual_value,date_of_reservation,reservation_update_date,date_of_contraction,property_type_id,area_id,compound_id,sale_category,years_of_payment,property_type
0,11218,130316,17770000.0,New Cairo,NaN,17777000.0,10/01/2024 00:00:00,10/01/2024 20:21:00,08/02/2024 00:00:00,21,2.0,345.0,Primary,8.0,Apartment
1,776,32565,648000.0,New Capital City,NaN,NaN,11/04/2021 00:00:00,,,8,9.0,464.0,,NaN,Office
2,3016,20428,8912000.0,6Th October,NaN,8912000.0,04/09/2022 00:00:00,05/09/2022 00:00:00,10/23/2022 00:00:00,1,1.0,402.0,Primary,NaN,Villa
3,9305,312091,3658000.0,Mostakbal City,NaN,3658000.0,12/10/2023 00:00:00,,12/10/2023 00:00:00,13,10.0,908.0,Developer Commercial Sale,10.0,Clinic
4,11885,173993,NaN,New Cairo,10000000.0,NaN,,,,21,2.0,1116.0,,NaN,Apartment

In [34]:
df_dst.head()

Empty DataFrame
Columns: [id, src_id, lead_id, unit_value, unit_location, expected_value, actual_value, date_of_reservation, reservation_update_date, date_of_contraction, property_type_id, area_id, compound_id, sale_category, years_of_payment, property_type, effective_start_date, effective_end_date, is_current, version_id]
Index: []

In [ ]:
df_dst.head()

,id,src_id,lead_id,unit_value,unit_location,expected_value,actual_value,date_of_reservation,reservation_update_date,date_of_contraction,property_type_id,area_id,compound_id,sale_category,years_of_payment,property_type,effective_start_date,effective_end_date,is_current,version_id
0,-1,-1,23618,1404296.0,Sila,NaN,NaN,01/06/2020 00:00:00,,09/06/2020 00:00:00,21,NaN,NaN,,NaN,Apartment,01/04/2026 07:29:47,,0,-1
1,-1,-1,14241,1538000.0,,NaN,NaN,12/04/2019 00:00:00,,06/30/2019 00:00:00,21,NaN,NaN,,NaN,Apartment,01/04/2026 07:29:47,,0,-1
2,-1,-1,9843,8212860.0,,NaN,NaN,,,11/18/2018 00:00:00,1,NaN,NaN,,NaN,Villa,01/04/2026 07:29:47,,0,-1
3,-1,-1,8981,3565760.0,,NaN,NaN,02/14/2019 00:00:00,,04/24/2019 00:00:00,21,NaN,NaN,,NaN,Apartment,01/04/2026 07:29:47,,0,-1
4,-1,-1,5952,2350000.0,,NaN,NaN,12/08/2018 00:00:00,,12/08/2018 00:00:00,5,NaN,NaN,,NaN,Chalet,01/04/2026 07:29:47,,0,-1

In [25]:
not_in_dst = (
        df_src
            .merge(df_dst[df_src.columns].drop_duplicates(), how="left", indicator=True)
            .query('_merge == "left_only"')
            .drop(columns="_merge")
    )
print(f"not_in_dst.shape {not_in_dst.shape}")
not_in_dst.head()

not_in_dst.shape (0, 15)

Empty DataFrame
Columns: [id, lead_id, unit_value, unit_location, expected_value, actual_value, date_of_reservation, reservation_update_date, date_of_contraction, property_type_id, area_id, compound_id, sale_category, years_of_payment, property_type]
Index: []

In [25]:
df_src[df_src["id"] == 11218]

,id,lead_id,unit_value,unit_location,expected_value,actual_value,date_of_reservation,reservation_update_date,date_of_contraction,property_type_id,area_id,compound_id,sale_category,years_of_payment,property_type
0,11218,130316,17770000.0,New Cairo,NaN,17777000.0,2024-01-10 00:00:00,2024-01-10 20:21:00,2024-02-08 00:00:00,21,2.0,345.0,Primary,8.0,Apartment

In [26]:
df_dst[df_dst["id"] == 11218]

,id,lead_id,unit_value,unit_location,expected_value,actual_value,date_of_reservation,reservation_update_date,date_of_contraction,property_type_id,area_id,compound_id,sale_category,years_of_payment,property_type
0,11218,130316,17770000.0,New Cairo,NaN,17777000.0,10/01/2024 00:00:00,10/01/2024 20:21:00,08/02/2024 00:00:00,21,2.0,345.0,Primary,8.0,Apartment