In [5]:
import pandas as pd 

df_leads = pd.read_excel("D:/whaw/case-study-real-estate/data/Case_Study_Data___Data_Engineering__1_.xlsx", sheet_name="DE LEADS")
print(f"df_leads.shape {df_leads.shape}")
df_leads.head()

df_leads.shape (55924, 25)

,id,date_of_last_request,buyer,seller,best_time_to_call,budget,created_at,updated_at,user_id,location,...,compound_id,developer_id,meeting_flag,do_not_call,lead_type_id,customer_id,method_of_contact,lead_source,campaign,lead_type
0,9815,2018-09-07 00:00:00,True,False,"All day , any day",NaN,2018-09-07 15:58:00,2024-01-24 15:07:00,2942.0,Coast 82,...,170.0,NaN,NaN,False,1,22785,form adwords,google,google_cpc,Primary
1,90225,2022-05-04 19:59:00,True,False,NaN,NaN,2022-05-04 19:59:00,2024-01-10 13:10:00,1494.0,The Waterway North Coast,...,NaN,NaN,NaN,False,1,172065,generic form,google,dev_-_equity,Primary
2,198759,2023-03-22 05:23:00,True,False,NaN,NaN,2023-03-22 05:23:00,2024-02-07 15:45:00,4043.0,Silversands,...,NaN,NaN,NaN,False,1,192904,whatsapp,google website,NaN,Primary
3,164130,2022-12-14 00:59:00,True,False,NaN,NaN,2022-12-14 00:51:00,2024-01-15 14:38:00,3805.0,Fouka Bay,...,NaN,NaN,NaN,False,1,112217,facebook,facebook,(none),Primary
4,395907,2024-01-20 17:57:00,True,False,NaN,NaN,2024-01-20 17:57:00,2024-01-22 14:58:00,4003.0,Golden Eagle,...,NaN,NaN,NaN,False,1,383990,facebook,facebook,madinet nasr for housing and development - lea...,Primary

In [8]:
def remove_exact_duplicate_rows(df: pd.DataFrame) -> pd.DataFrame:
    """Drop rows that are fully identical across all columns (keep first) and log deletions."""
    before = len(df)
    df_out = df.loc[~df.duplicated(keep="first")].copy()
    deleted = before - len(df_out)
    print(f"[dedupe] Removed {deleted} exact duplicate row(s). (before={before}, after={len(df_out)})")
    return df_out

remove_exact_duplicate_rows(df_leads)

[dedupe] Removed 79 exact duplicate row(s). (before=55924, after=55845)

,id,date_of_last_request,buyer,seller,best_time_to_call,budget,created_at,updated_at,user_id,location,...,compound_id,developer_id,meeting_flag,do_not_call,lead_type_id,customer_id,method_of_contact,lead_source,campaign,lead_type
0,9815,2018-09-07 00:00:00,True,False,"All day , any day",NaN,2018-09-07 15:58:00,2024-01-24 15:07:00,2942.0,Coast 82,...,170.0,NaN,NaN,False,1,22785,form adwords,google,google_cpc,Primary
1,90225,2022-05-04 19:59:00,True,False,NaN,NaN,2022-05-04 19:59:00,2024-01-10 13:10:00,1494.0,The Waterway North Coast,...,NaN,NaN,NaN,False,1,172065,generic form,google,dev_-_equity,Primary
2,198759,2023-03-22 05:23:00,True,False,NaN,NaN,2023-03-22 05:23:00,2024-02-07 15:45:00,4043.0,Silversands,...,NaN,NaN,NaN,False,1,192904,whatsapp,google website,NaN,Primary
3,164130,2022-12-14 00:59:00,True,False,NaN,NaN,2022-12-14 00:51:00,2024-01-15 14:38:00,3805.0,Fouka Bay,...,NaN,NaN,NaN,False,1,112217,facebook,facebook,(none),Primary
4,395907,2024-01-20 17:57:00,True,False,NaN,NaN,2024-01-20 17:57:00,2024-01-22 14:58:00,4003.0,Golden Eagle,...,NaN,NaN,NaN,False,1,383990,facebook,facebook,madinet nasr for housing and development - lea...,Primary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55919,238383,2023-10-16 17:43:00,True,False,NaN,NaN,2023-06-17 22:45:00,2023-10-17 13:45:00,3806.0,Address East,...,NaN,NaN,NaN,False,3,231810,phone,phone,p2pwlcrm_bau cell-final-cooing,Resale Buyer
55920,70396,2022-02-04 22:50:00,True,False,NaN,NaN,2022-02-04 22:50:00,2023-07-31 15:13:00,2748.0,Al Burouj,...,NaN,NaN,NaN,False,1,112626,facebook,facebook,imkan misr - lead generation - cooing 4,Primary
55921,2233,2017-10-04 00:00:00,True,False,NaN,NaN,2017-10-16 10:54:00,2023-12-20 13:41:00,1494.0,Gouna,...,NaN,NaN,NaN,False,1,68670,facebook,facebook,NaN,Primary
55922,178003,2023-01-22 07:13:00,True,False,NaN,NaN,2023-01-22 07:13:00,2023-01-22 09:29:00,506.0,Taj City Clubside Apartments,...,NaN,NaN,NaN,False,1,129533,facebook,facebook,madinet nasr for housing and development - lea...,Primary
55923,158781,2022-12-04 10:12:00,True,False,NaN,NaN,2022-12-04 10:12:00,2023-12-31 05:27:00,68.0,The Med,...,NaN,NaN,NaN,False,1,79875,phone,google,dynamicremarketing,Primary

In [6]:
import numpy as np
import pandas as pd
import logging

logger = logging.getLogger(__name__)

def dedupe_and_reassign_ids(df: pd.DataFrame, id_col: str = "id") -> pd.DataFrame:
    df_out = df.loc[~df.duplicated(keep="first")].copy()

    counts = df_out[id_col].value_counts(dropna=False)
    num_duplicated_ids = int((counts > 1).sum())
    logger.info("Number of duplicated IDs: %s", num_duplicated_ids)
    print("Number of duplicated IDs: %s", num_duplicated_ids)

    dup_mask = df_out.duplicated(subset=[id_col], keep="first")
    n_to_change = int(dup_mask.sum())

    if n_to_change == 0:
        logger.info("No IDs needed reassignment.")
        print("No IDs needed reassignment.")
        return df_out

    max_id = int(df_out[id_col].max())
    new_ids = np.arange(max_id + 1, max_id + 1 + n_to_change)

    changed = df_out.loc[dup_mask, [id_col]].copy()
    changed["new_id"] = new_ids
    changed = changed.rename(columns={id_col: "old_id"})
    changed.insert(0, "row_index", changed.index)

    logger.info("Rows with ID reassigned: %s", len(changed))
    print("Rows with ID reassigned: %s", len(changed))
    for row_index, old_id, new_id in changed[["row_index", "old_id", "new_id"]].itertuples(index=False):
        logger.info("row_index=%s old_id=%s -> new_id=%s", row_index, old_id, new_id)
        print("row_index=%s old_id=%s -> new_id=%s", row_index, old_id, new_id)

    df_out.loc[dup_mask, id_col] = new_ids
    return df_out

dedupe_and_reassign_ids(df_leads, "id").head()

Number of duplicated IDs: %s 0
No IDs needed reassignment.

,id,date_of_last_request,buyer,seller,best_time_to_call,budget,created_at,updated_at,user_id,location,...,compound_id,developer_id,meeting_flag,do_not_call,lead_type_id,customer_id,method_of_contact,lead_source,campaign,lead_type
0,9815,2018-09-07 00:00:00,True,False,"All day , any day",NaN,2018-09-07 15:58:00,2024-01-24 15:07:00,2942.0,Coast 82,...,170.0,NaN,NaN,False,1,22785,form adwords,google,google_cpc,Primary
1,90225,2022-05-04 19:59:00,True,False,NaN,NaN,2022-05-04 19:59:00,2024-01-10 13:10:00,1494.0,The Waterway North Coast,...,NaN,NaN,NaN,False,1,172065,generic form,google,dev_-_equity,Primary
2,198759,2023-03-22 05:23:00,True,False,NaN,NaN,2023-03-22 05:23:00,2024-02-07 15:45:00,4043.0,Silversands,...,NaN,NaN,NaN,False,1,192904,whatsapp,google website,NaN,Primary
3,164130,2022-12-14 00:59:00,True,False,NaN,NaN,2022-12-14 00:51:00,2024-01-15 14:38:00,3805.0,Fouka Bay,...,NaN,NaN,NaN,False,1,112217,facebook,facebook,(none),Primary
4,395907,2024-01-20 17:57:00,True,False,NaN,NaN,2024-01-20 17:57:00,2024-01-22 14:58:00,4003.0,Golden Eagle,...,NaN,NaN,NaN,False,1,383990,facebook,facebook,madinet nasr for housing and development - lea...,Primary

In [13]:
df_leads["best_time_to_call"].dropna().tail(20)

55286                                                 8pm
55315                                        8 am to 4 pm
55332                                             Any time
55348                                  10-01-2024, 8:17 PM
55353                                             any time
55358                                             Anytime
55375                                             Any time
55405                                  01-02-2024, 7:19 AM
55443                                             Day time
55461                                           After 8 pm
55516                               After 6 pm Dubai time
55519                                             12:30:00
55574                                              10:30AM
55582    10/25/2018 @ 5pm Egypt time will be 11 am USA ...
55593                                                  6pm
55653                                             10:00:00
55657                                        After 7:30 pm
55679                                                    3
55726                                           Afternoon
55743                                             Whatsapp
Name: best_time_to_call, dtype: object

In [7]:
df_leads[df_leads["id"].duplicated(keep=False)].sort_values(by="id", ascending=True).reset_index(drop=True)

,id,date_of_last_request,buyer,seller,best_time_to_call,budget,created_at,updated_at,user_id,location,...,compound_id,developer_id,meeting_flag,do_not_call,lead_type_id,customer_id,method_of_contact,lead_source,campaign,lead_type
0,10809,2023-02-23 14:26:00,True,False,NaN,NaN,2018-10-26 21:53:00,2023-12-10 14:22:00,66.0,Solana,...,NaN,NaN,NaN,False,1,25487,personal,personal,NaN,Primary
1,10809,2023-02-23 14:26:00,True,False,NaN,NaN,2018-10-26 21:53:00,2023-12-10 14:22:00,66.0,Solana,...,NaN,NaN,NaN,False,1,25487,personal,personal,NaN,Primary
2,14874,2019-05-11 00:00:00,True,False,NaN,NaN,2019-05-11 21:46:00,2021-08-22 10:40:00,2.0,Zed,...,274.0,NaN,NaN,False,1,22575,phone,phone,NaN,Primary
3,14874,2019-05-11 00:00:00,True,False,NaN,NaN,2019-05-11 21:46:00,2021-08-22 10:40:00,2.0,Zed,...,274.0,NaN,NaN,False,1,22575,phone,phone,NaN,Primary
4,14902,2022-01-28 12:16:00,True,False,Any day around 1:00 uk time,NaN,2019-05-13 22:51:00,2023-05-25 13:58:00,235.0,Badya-Palm Hills,...,269.0,NaN,NaN,False,1,50163,whatsapp,website,NaN,Primary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,361917,2023-12-03 20:22:00,True,False,NaN,NaN,2023-12-03 20:23:00,2023-12-07 21:17:00,3908.0,NaN,...,NaN,NaN,NaN,False,1,351914,personal,personal,NaN,Primary
139,371499,2023-12-16 11:11:00,True,False,NaN,NaN,2023-12-16 11:11:00,2023-12-27 13:00:00,1327.0,Al Maqsad Park,...,NaN,NaN,NaN,False,1,361059,whatsapp,website,NaN,Primary
140,371499,2023-12-16 11:11:00,True,False,NaN,NaN,2023-12-16 11:11:00,2023-12-27 13:00:00,1327.0,Al Maqsad Park,...,NaN,NaN,NaN,False,1,361059,whatsapp,website,NaN,Primary
141,398324,2024-01-23 14:41:00,True,False,NaN,NaN,2024-01-23 14:41:00,2024-02-07 10:21:00,671.0,New Cairo,...,NaN,NaN,NaN,False,4,386227,ambassador app,ambassador app,ambassador app,Nawy Now
142,398324,2024-01-23 14:41:00,True,False,NaN,NaN,2024-01-23 14:41:00,2024-02-07 10:21:00,671.0,New Cairo,...,NaN,NaN,NaN,False,4,386227,ambassador app,ambassador app,ambassador app,Nawy Now

In [3]:
df_leads[df_leads.duplicated(keep=False)].sort_values(by="id", ascending=True).reset_index(drop=True)

,id,date_of_last_request,buyer,seller,best_time_to_call,budget,created_at,updated_at,user_id,location,...,compound_id,developer_id,meeting_flag,do_not_call,lead_type_id,customer_id,method_of_contact,lead_source,campaign,lead_type
0,10809,2023-02-23 14:26:00,True,False,NaN,NaN,2018-10-26 21:53:00,2023-12-10 14:22:00,66.0,Solana,...,NaN,NaN,NaN,False,1,25487,personal,personal,NaN,Primary
1,10809,2023-02-23 14:26:00,True,False,NaN,NaN,2018-10-26 21:53:00,2023-12-10 14:22:00,66.0,Solana,...,NaN,NaN,NaN,False,1,25487,personal,personal,NaN,Primary
2,14874,2019-05-11 00:00:00,True,False,NaN,NaN,2019-05-11 21:46:00,2021-08-22 10:40:00,2.0,Zed,...,274.0,NaN,NaN,False,1,22575,phone,phone,NaN,Primary
3,14874,2019-05-11 00:00:00,True,False,NaN,NaN,2019-05-11 21:46:00,2021-08-22 10:40:00,2.0,Zed,...,274.0,NaN,NaN,False,1,22575,phone,phone,NaN,Primary
4,14902,2022-01-28 12:16:00,True,False,Any day around 1:00 uk time,NaN,2019-05-13 22:51:00,2023-05-25 13:58:00,235.0,Badya-Palm Hills,...,269.0,NaN,NaN,False,1,50163,whatsapp,website,NaN,Primary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,361917,2023-12-03 20:22:00,True,False,NaN,NaN,2023-12-03 20:23:00,2023-12-07 21:17:00,3908.0,NaN,...,NaN,NaN,NaN,False,1,351914,personal,personal,NaN,Primary
139,371499,2023-12-16 11:11:00,True,False,NaN,NaN,2023-12-16 11:11:00,2023-12-27 13:00:00,1327.0,Al Maqsad Park,...,NaN,NaN,NaN,False,1,361059,whatsapp,website,NaN,Primary
140,371499,2023-12-16 11:11:00,True,False,NaN,NaN,2023-12-16 11:11:00,2023-12-27 13:00:00,1327.0,Al Maqsad Park,...,NaN,NaN,NaN,False,1,361059,whatsapp,website,NaN,Primary
141,398324,2024-01-23 14:41:00,True,False,NaN,NaN,2024-01-23 14:41:00,2024-02-07 10:21:00,671.0,New Cairo,...,NaN,NaN,NaN,False,4,386227,ambassador app,ambassador app,ambassador app,Nawy Now
142,398324,2024-01-23 14:41:00,True,False,NaN,NaN,2024-01-23 14:41:00,2024-02-07 10:21:00,671.0,New Cairo,...,NaN,NaN,NaN,False,4,386227,ambassador app,ambassador app,ambassador app,Nawy Now