In [82]:
import pandas as pd 
from datetime import datetime

df_transformed = pd.read_csv("tmp_df_transformed.csv")
df_dst = pd.read_csv("tmp_df_dst.csv")

print(f"df_transformed.shape {df_transformed.shape}")
print(f"df_dst.shape {df_dst.shape}")

cols_to_compare = df_transformed.columns.drop("id") #.to_list()
print(cols_to_compare)

for idx, row in df_transformed.iterrows(): 
    id = row["id"]
    dst_rows = df_dst[(df_dst["src_id"] == id) & (df_dst["is_current"] == True)]
    if dst_rows is None or dst_rows.empty: 
        id = len(df_dst)
        df_dst.loc[id, df_transformed.columns] = row
        df_dst.loc[id, "effective_start_date"] = datetime.now().strftime("%m/%d/%Y %H:%M:%S")
        df_dst.loc[id, "is_current"] = True
        df_dst.loc[id, "version_id"] = 1
        df_dst.loc[id, "src_id"] = row["id"]
    elif not row[cols_to_compare].equals(dst_rows.squeeze()[cols_to_compare]): 
        id = len(df_dst)
        df_dst.loc[id, df_transformed.columns] = row
        df_dst.loc[id, "effective_start_date"] = datetime.now().strftime("%m/%d/%Y %H:%M:%S")
        df_dst.loc[id, "is_current"] = True
        df_dst.loc[id, "version_id"] = df_dst.loc[dst_rows.index, "version_id"].max() + 1
        df_dst.loc[id, "src_id"] = row["id"]
        
        df_dst.loc[dst_rows.index, "effective_end_date"] = datetime.now().strftime("%m/%d/%Y %H:%M:%S")
        df_dst.loc[dst_rows.index, "is_current"] = False
        df_dst.loc[dst_rows.index, "src_id"] = row["id"]

df_dst["id"] = range(1, len(df_dst)+1)

df_dst.to_csv("tmp_df_dst.csv", index=False)

df_dst

df_transformed.shape (3, 4)
df_dst.shape (4, 9)
Index(['first_name', 'last_name', 'salary'], dtype='object')

,id,src_id,first_name,last_name,salary,effective_start_date,effective_end_date,is_current,version_id
0,1,10.0,Mohamad,Kanaan,3.4,01/04/2026 00:37:29,NaN,True,1.0
1,2,20.0,Maurice,Kanaan,8.7,01/04/2026 00:37:29,NaN,True,1.0
2,3,30.0,Amani,Melhem,1.6,01/04/2026 00:37:29,01/04/2026 00:37:44,False,1.0
3,4,30.0,Amani,Melhemm,1.6,01/04/2026 00:37:44,01/04/2026 00:39:50,False,2.0
4,5,30.0,Amani,Melhem,1.6,01/04/2026 00:39:50,NaN,True,3.0